{{> icons}}
<div class="tabela_veiculosPartials"> 

    {{#each veiculos}}
    <tr>
        <td>{{this.modelo}}</td>
        <td>{{this.placa}}</td>
        <td>{{this.cor}}</td>
        <td>R${{this.custo}}</td>
        <td style="display: flex;">
            <a id="edit_btn" class="btn" href="/dashboard/vehicles/edit/{{this.id}}" >{{> edit}}</a>

            <form action="/dashboard/vehicles/delete/{{this.id}}" method="post">
                <button type="submit" id="exclude_btn" class="btn" href="#" >{{> exclude}}</a>
            </form>

        </td>
    </tr>
    {{/each}}

</div>