<div class="tabela_usuariosPartials"> 
{{#each users}} 
    <tr>
        <td>{{this.nome}}</td>
        <td>{{this.cpf}}</td>
        <td>{{this.email}}</td>
        <td style="display: flex;">
            <a id="edit_btn" class="btn" href="/users/edit/{{this.id}}" >{{> edit}}</a>
            <form action="/users/remove" method="post">
                <input type="hidden" name="id" value="{{this.id}}">
                <button type="submit" id="exclude_btn" class="btn"  >
                  {{> exclude}}
                </button>
            </form>
        </td>
        {{!-- <td >
            <a id="edit_btn" class="btn" href="#" >{{> edit}}</a>
            <a id="exclude_btn" class="btn" href="#" >{{> exclude}}</a>
        </td> --}}
    </tr>
{{/each}}
</div>